<div class="container-fluid-back-content pt-4 px-4">
    <div class="row g-4">
        
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary1 roundedd d-flex align-items-center justify-content-between p-4">
               
                <!-- <i class="fa fa-chart-line fa-3x text-primary"></i> -->
                <div class="ms-3">
                    <p class="mb-21">Binômes</p>
                    <h6 class="mb-00">123</h6>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary2 roundedd d-flex align-items-center justify-content-between p-4">
                <!-- <i class="fa fa-chart-bar fa-3x text-primary"></i> -->
                <div class="ms-3">
                    <p class="mb-22">Soutenance</p>
                    <h6 class="mb-00">23</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary4 roundedd d-flex align-items-center justify-content-between p-4">
                <!-- <i class="fa fa-chart-pie fa-3x text-primary"></i> -->
                <div class="ms-3">
                    <p class="mb-21">Thèmes</p>
                    <h6 class="mb-00">50</h6>
                </div>
            </div>
        </div>
    </div>
</div>
