<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ajouter
            </button>
        </div>
        <div style="text-align: right;">
            <form action="rechercheFormation/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="recherche selon l'id" class="bg-dark border-0" name="idr"
                    style="color: white;">
                <button type="submit" class="bg-dark border-0"><i class="fa fa-search text-primary"></i></button>
            </form>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Lieu de naissance</th>
                        <th scope="col">Niveau</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in stagiaires%}
                    <tr>
                        <td scope="col"><input class="form-check-input" type="checkbox"></td>
                        <td>{{i.ids}}</td>
                        <td>{{i.nom}}</td>
                        <td>{{i.prenom}}</td>
                        <td>{{i.daten}}</td>
                        <td>{{i.lieu}}</td>
                        <td>{{i.niveau}}</td>
                        <td>{{i.tel}}</td>
                        <td>{{i.mail}}</td>
                        <td>
                            <a href=""><i class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href=""><i class="fa fa-edit text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="details/{{i.ids}}"><i class="fa fa-file text-primary"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-secondary text-center rounded p-4">
                    <form action="ajoutStagiaire/" method="post">
                        {%csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nouveau stagiaire</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="text-align: left;">

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nom</label>
                                <input type="text" class="form-control" name="nom">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Prénom</label>
                                <input type="text" class="form-control" name="prenom">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Date naissance</label>
                                <input type="date" class="form-control" name="daten">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Lieu de naissance</label>
                                <input type="text" class="form-control" name="lieu">
                            </div>

                            <div class="mb-3">
                                <label for="dure" class="form-label" class="form-control">Niveau</label>
                                <select name="niveau" id="niveau" class="form-control" style="background-color: black;">
                                    <option value="L1">L1</option>
                                    <option value="L2">L2</option>
                                    <option value="L3">L3</option>
                                    <option value="M1">M1</option>
                                    <option value="M2">M2</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Téléphone</label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>