{%load static%}
<nav class="navbar navbar-expand navbar-dark sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        
        
        <div class="nav-item dropdown ">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <!-- <img class="rounded-circle me-lg-2" src="{%static 'img/user.jpg'%}" alt=""
                    style="width: 40px; height: 40px;"> -->
                    
                <!-- <div class="bg-success rounded-circle border border-2 border-white end-0 bottom-0 p-1" style="width: 5px; height: 5px;"></div> -->
                <!-- <i class="fa fa-bell me-lg-2"></i> -->
                <!-- <i class="fa-solid fa-circle fa-2xs" style="color: #198754;"></i> -->
                <i class="fa-solid fa-circle-user fa-lg"></i> 
                <span class="d-none d-lg-inline-flex">{{ user.nom }} {{ user.prenom }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">Paramètres</a>
                <a href="{% url 'index' %}"
                class="{% if request.resolver_match.url_name == 'index' %}active{% endif %} dropdown-item">Se déconnecter</a>
                <!-- <a href="#" class="dropdown-item">Se déconnecter</a> -->
            </div>
        </div>
    </div>
</nav>