{%load static%}
<div class="sidebar pe-4 pb-3">
    <a href="{% url 'index' %}" class="navbar-brand mx-4 mb-3">
        <img src="{% static 'img/logo-échantillion1.png' %}" alt="Logo" class ="logo-circulaire">
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
        <div class="conteneur-parent">
            <div class="ms-31 ">
                <h6 class="mb-0 user-info" id="admin-span">{{ user.nom }}</h6>
                <h6 class="mb-0 user-info" id="admin-span">{{ user.prenom }}</h6>
            </div>
            <span id="E-span">Administrateur</span>
            <div class="delimiteur"></div> <!-- Div utilisé comme séparateur -->
        </div>        
    </div>

    <nav class="navbar bg-secondary navbar-dark">
        
        <div class="navbar-nav w-100">
            <a href="{% url 'dashBoardAdmin' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'dashBoardAdmin' or  request.resolver_match.url_name == 'dashBoard' %}active{% endif %}">
                <i class="fa-solid fa-house me-2"></i>Acceuil</a>
            <a href="{% url 'utilisateur' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'utilisateur' %}active{% endif %}"><i class="fa-solid fa-users me-2"></i>Utilisateurs</a>
            <a href="{% url 'salles' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'salles' %}active{% endif %}"><i class="fa-solid fa-hotel me-2"></i>Salles</a>
            <a href="{% url 'domaineAdmin' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'domaineAdmin' %}active{% endif %}"><i class="fa-solid fa-graduation-cap me-2"></i>Domaines</a>
            <a href="{% url 'configuration' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'configuration' %}active{% endif %}"><i class="fa-solid fa-sliders me-2"></i>Configuration</a>
            <a href="{% url 'planning' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'planning' %}active{% endif %}"><i class="fa-solid fa-table-list me-2"></i>Planning</a>
            <a href="{% url 'index' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"><i class="fa-solid fa-door-open me-2"></i>Se déconnecter</a>
        </div>
    </nav>

</div>