{%load static%}
<div class="sidebar pe-4 pb-3">
    <a href="{% url 'index' %}" class="navbar-brand mx-4 mb-3">
        <img src="{% static 'img/logo-échantillion1.png' %}" alt="Logo" class ="logo-circulaire">
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
            <div class="conteneur-parent">
                <div class="ms-32 ">
                    <h6 class="mb-0 user-info" id="admin-span">{{ user.nom }}</h6>
                    <h6 class="mb-0 user-info" id="admin-span">{{ user.prenom }}</h6>
                </div>
                <span id="E-span">Enseignant</span>
                <div class="delimiteur"></div> <!-- Div utilisé comme séparateur -->
            </div>        

        </div>
    <nav class="navbar bg-secondary navbar-dark">      
        <div class="navbar-nav w-100">
            <a href="{% url 'dashBoardEnseignant' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'dashBoardEnseignant' or  request.resolver_match.url_name == 'dashBoard'%}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Acceuil</a>

            <a href="{% url 'domaineEnseignant' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'domaineEnseignant' %}active{% endif %}"><i
                    class="fa fa-th me-2"></i>Domaines</a>

            <a href="{% url 'occupationEnseignant' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'occupationEnseignant' %}active{% endif %}"><i
                    class="fa fa-th me-2"></i>Occupations</a>

            <a href="{% url 'themes' %}"     
                class="nav-item nav-link {% if request.resolver_match.url_name == 'themes' %}active{% endif %}"><i
                    class="fa fa-th me-2"></i>Thèmes</a>

            <a href="{% url 'demandes' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'demandes' %}active{% endif %}"><i
                    class="fa fa-table me-2"></i>Les demandes</a>

            <a href="{% url 'evaluation' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'evaluation' %}active{% endif %}"><i
                    class="fa fa-chart-bar me-2"></i>Evaluations</a>

            <a href="{% url 'index' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"><i
                    class="far fa-file-alt me-2"></i>Se déconnecter</a>

        </div>
    </nav>
</div>