<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Liste des thèmes </h6>
        </div>
        <div style="text-align: left; margin-left : 29px; margin-bottom :0px;">
            <form action="rechercheUtilisateur/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'id" class="border-1 p-2 research_bar_in_table"
                    name="emailr">
                <!-- <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button> -->
            </form>
        </div>
        <br>
        <div class="table_body" style ="margin-top: 0px;">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Thème</th>
                        <th scope="col">Domaine</th>
                        <th scope="col">Enseignant</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for theme in themes %}
                    <tr>
                        <td>{{ theme.id }}</td>
                        <td>{{ theme.intitule }}</td>
                        <td>{{ theme.domaine }}</td>
                        <td>{{ theme.idEnseignant.email.nom }} {{ theme.idEnseignant.email.prenom }}</td>
                        <!-- Accès au nom de l'enseignant -->
                        <td>
                            <a href="ajoutDemande/{{ theme.id }}"><i class="fa fa-plus-circle text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="#"><i class="fa fa-eye text-primary"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Liste des demandes </h6>
        </div>

        <div style="text-align: left; margin-left : 29px; margin-bottom :0px;">
            <form action="rechercheUtilisateur/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'id" class="border-1 p-2 research_bar_in_table"
                    name="emailr">
                <!-- <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button> -->
            </form>
        </div>

        <div class="table_body">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Thème</th>
                        <th scope="col">Enseignant</th>
                        <th scope="col">Réponse</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in demandes %}
                    <tr>
                        <td>{{ d.id }}</td>
                        <td>{{ d.idTheme.intitule }}</td>
                        <td>{{ d.idEnseignant.email.nom }} {{ d.idEnseignant.email.prenom }}</td>
                        <td>{{ d.reponse}}</td>
                        <td>
                            <a href="suprimerDemande/{{ d.id }}"><i class="fa fa-trash text-primary"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Demandes acceptés</h6>
        </div>

        
        <div class="table_body">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Thème</th>
                        <th scope="col">Enseignant</th>
                        <th scope="col">Réponse</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in demandesAccepter %}
                    <tr>
                        <td>{{ d.id }}</td>
                        <td>{{ d.idTheme.intitule }}</td>
                        <td>{{ d.idEnseignant.email.nom }} {{ d.idEnseignant.email.prenom }}</td>
                        <td>{{ d.reponse}}</td>
                        <td>
                            <a href="validerTheme/{{ d.id }}"><i class="fa fa-check text-primary"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>