<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Dépot de mon mémoire</h6>

        </div>
        
        <div style="text-align: right;">
            <form action="ajoutMemoire/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="exampleInputFile" class="form-label">Description (PDF)</label>
                <input type="file" class="form-control" id="exampleInputFile" name="memoire">
                <br>
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </form>
        </div>
        <br>
        


        <div class="table_body">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Etat du mémoire</th>
                        <th scope="col">Remarque</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col"><input class="form-check-input" type="checkbox"></td>
                        <td>{{leader.etat_memoire}}</td>
                        <td>{{leader.remarque_memoire}}</td>
                        <td>
                            <a href="suprimerMemoire/{{i.id}}"><i class="fa fa-trash text-primary"></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>