<!-- Modal -->
 <div class="modal fade" id="ModaleEvaluation" tabindex="-1" aria-labelledby="ModaleEvaluationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary text-center rounded p-4">
            <form action="ajoutFormation/" method="post">
                {%csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="ModaleEvaluationLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Remarque</label>
                        <input type="textarea" class="form-control" name="remarque">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn button2 btnPrimary2">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>

        </div>
        <div style="text-align: right;">
            <form action="rechercheFormation/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'id" class="bg-dark2 border-0 p-2" name="idr" style="color: white;">
                <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i class="fa fa-search text-primary"></i></button>
            </form>
        </div>
        <br>
        <div class="table_body">
            <table class ="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">email</th>
                        <th scope="col">Leader</th>
                        <th scope="col">Binôme</th>
                        <th scope="col">Thème</th>
                        <th scope="col">Etat du mémoire</th>
                        <th scope="col">Remarque</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in listeLeader%}
                    <tr>
                        <td>{{i.email.email}}</td>
                        <td>{{i.email.nom}} {{i.email.prenom}}</td>
                        <td>{{i.nom_binom}} {{i.prenom_binom}}</td>
                        <td>{{i.idTheme.intitule}}</td>
                        <td>{{i.etat_memoire}}</td>
                        <td>{{i.remarque_memoire}}</td>
                        <td>
                            <a href="modifierLeader/{{i.email.email}}"><i class="fa fa-edit text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>