<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div  class="d-flex align-items-center justify-content-between mb-4">
        </div>
        <div style="text-align: left; margin-left : 29px; margin-bottom : 0px;">
            <form action="rechercheUtilisateur/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'email" class="border-1 p-2 research_bar_in_table"
                    name="emailr">
                <!-- <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button> -->
            </form>
        </div>
        <br>
        <div id="table_evaluation" class="table_body" style ="margin-top: 0px;">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">email</th>
                        <th scope="col">Leader</th>
                        <th scope="col">Binôme</th>
                        <th scope="col">Thème</th>
                        <th scope="col">Etat du mémoire</th>
                        <th scope="col">Remarque</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in listeLeader%}
                    <tr>
                        <td>{{i.email.email}}</td>
                        <td>{{i.email.nom}} {{i.email.prenom}}</td>
                        <td>{{i.nom_binom}} {{i.prenom_binom}}</td>
                        <td>{{i.idTheme.intitule}}</td>
                        <td>{{i.etat_memoire}}</td>
                        <td>{{i.remarque_memoire}}</td>
                        <td>
                            <a href="modifierLeader/{{i.email.email}}" onclick="return confirm('êtes-vous sure de vouloir modifier ce leader?')"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                            &nbsp;
                            &nbsp;
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Récupération des dates de début et de fin
    var dateDebTraitement = new Date('{{ parametre.dateDebTraitement }}');
    var dateLimiteTtraitement = new Date('{{ parametre.dateLimiteTtraitement }}');

    // Fonction pour vérifier si la date actuelle est entre les dates de début et de fin
    function checkDate() {
        var currentDate = new Date();
        if (currentDate >= dateDebTraitement && currentDate <= dateLimiteTtraitement) {
            document.getElementById('table_evaluation').style.display = 'block'; // Afficher la table
        } else {
            document.getElementById('table_evaluation').style.display = 'none'; // Masquer la table
        }
    }

    // Vérifier la date lors du chargement de la page
    checkDate();

    // Vérifier la date toutes les secondes (pour les mises à jour en temps réel)
    setInterval(checkDate, 1000);
</script>