<div class="container-fluid-back-content pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Comptes enregistrés</h6>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModaleCompte">
                Ajouter
            </button>
        </div>
        <div style="text-align: right;">
            <form action="rechercheFormation/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'id" class="bg-dark2 border-0 p-2" name="idr"
                    style="color: white;">
                <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button>
            </form>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Email</th>
                        <th scope="col">Mot de passe</th>
                        <th scope="col">Type</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in listeUtilisateur%}
                    <tr>
                        <td scope="col"><input class="form-check-input" type="checkbox"></td>
                        <td>{{i.email}}</td>
                        <td>{{i.password}}</td>
                        <td>{{i.type_User}}</td>
                        <td>{{i.nom}}</td>
                        <td>{{i.prenom}}</td>
                        <td>
                            <!-- <a href="suprimerFormation/{{i.id}}"><i class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifier/{{i.id}}"><i class="fa fa-edit text-primary"></i></a> -->
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="ModaleCompte" tabindex="-1" aria-labelledby="ModaleCompteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-secondary text-center rounded p-4">
                    <form action="ajoutFormation/" method="post">
                        {%csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModaleCompteLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="text-align: left;">

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="text" class="form-control" name="intit">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Password</label>
                                <input type="text" class="form-control" name="intit">
                            </div>
                            <div class="mb-3">
                                <label for="dure" class="form-label" class="form-control">Type</label>
                                <select name="duree" id="duree" class="form-control" style="background-color: black;">
                                    <option value="Administrateur">Administrateur</option>
                                    <option value="Enseignant">Enseignant</option>
                                    <option value="Leader">Leader</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="cout">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Prenom</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="cout">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>