<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary text-center rounded_modal p-4">
            <form action="ajoutTheme/" method="post">
                {%csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">

                    <div class="mb-3">
                        <label for="" class="form-label">Intitulé</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="intitule">
                    </div>

                    <div class="mb-3">
                        <label for="dure" class="form-label" class="form-control">Domaine</label>
                        <select name="domaine" id="duree" class="form-control" style="background-color: white;">
                            {%for i in listeDomaineEnseignant%}
                            <option value="{{i.idDomaineExpertise.intitule}}">{{i.idDomaineExpertise.intitule}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleTextarea" rows="5" name="description"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button_fermer_modal btnPrimary2" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn button_ajout_modal btnPrimary2">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4 ">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Thèmes</h6>
            <button type="button" class="button2 btnPrimary2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ajouter
            </button>
        </div>
        <div style="text-align: left; margin-left : 29px; margin-bottom : 20px;">
            <form action="rechercheUtilisateur/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'email" class="border-1 p-2 research_bar_in_table"
                    name="emailr">
                <!-- <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button> -->
            </form>
        </div>
        <br>
        <div class="table_body">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Intitulé</th>
                        <th scope="col">Domaine</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Si des résultats de recherche existent, affichez-les -->
                    {% if search_results %}
                    {% for i in search_results %}

                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.intitule}}</td>
                        <td>{{i.domaine}}</td>
                        <td>
                            <a href="suprimerTheme/{{ i.id }}"><i class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifierTheme/{{ i.id }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Sinon, affichez la liste complète des utilisateurs -->
                    {% else %}
                    {% for i in listeTheme%}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.intitule}}</td>
                        <td>{{i.domaine}}</td>
                        <td>
                            <a href="suprimerTheme/{{ i.id }}" onclick="return confirm('êtes-vous sure de vouloir supprimer ce thème??')"><i class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifierTheme/{{ i.id }}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>