<!-- Modal -->
<div class="modal fade" id="ModaleSalle" tabindex="-1" aria-labelledby="ModaleSalleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary text-center rounded_modal p-4">
            <form action="ajoutSalle/" method="post">
                {%csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="ModaleSalleLabel">Fiche Salle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Bloc</label>
                        <input type="text" class="form-control" name="bloc">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Salle</label>
                        <input type="text" class="form-control" name="salle">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button_fermer_modal btnPrimary2" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn button_ajout_modal btnPrimary2">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <button type="button" class="button2 btnPrimary2" data-bs-toggle="modal" data-bs-target="#ModaleSalle">
                Ajouter une salle
            </button>
        </div>
        <div style="text-align: left; margin-left : 29px; margin-bottom : 0px;">
            <form action="rechercheUtilisateur/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'email" class="border-1 p-2 research_bar_in_table"
                    name="emailr">
                <!-- <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button> -->
            </form>
        </div>
        <br>
        <div class="table_body" style ="margin-top: 0px;">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">N° Bloc</th>
                        <th scope="col">N° Salle</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if search_results %}
                    {% for i in search_results %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.num_bloc}}</td>
                        <td>{{i.num_salle}}</td>
                        <td>
                            <a href="suprimerSalle/{{ i.id }}"><i class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifierSalle/{{ i.id }}"><i class="fa fa-edit text-primary"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for i in listeSalle%}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.num_bloc}}</td>
                        <td>{{i.num_salle}}</td>
                        <td>
                            <a href="suprimerSalle/{{ i.id }}" onclick="return confirm('êtes-vous sure de vouloir supprimer cette salle?')"><i class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifierSalle/{{ i.id }}"><i class="fa fa-edit text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="occupationSalle/{{i.id}}"><i class="fa fa-file text-primary"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>