  <!-- affichage de msg lors d'un ajout, maj ou sup -->
  {%include 'fragments/messages.html'%}


<!-- Modal -->
<div class="modal fade" id="ModaleDomaine" tabindex="-1" aria-labelledby="ModaleDomaineLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary text-center rounded_modal p-4">
            <form action="ajoutDomaineEnseignant/" method="post">
                {%csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="ModaleDomaineLabel">Fiche Domaine d'expertise</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">

                    <div class="mb-3">
                        <label for="intitule" class="form-label" class="form-control">Domaine d'expertise</label>
                        <select name="intitule" id="intitule" class="form-control" style="background-color: white;">
                            {% for i in listeDomaineAdmin%}
                            <option value="{{i.intitule}}">{{i.intitule}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button_fermer_modal btnPrimary2" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn button_ajout_modal btnPrimary2">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <button type="button" class="button2 btnPrimary2" data-bs-toggle="modal"
                data-bs-target="#ModaleDomaine">
                Ajouter un domaine
            </button>
        </div>

        <br>
        <div class="table_body">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">intitule</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in listeDomaineEnseignant%}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.idDomaineExpertise.intitule}}</td>
                        <td>
                            <a href="suprimerDomaineEnseignant/{{ i.id }}" onclick="return confirm('êtes-vous sure de vouloir supprimer ce domain?')"><i class="fa-solid fa-trash-arrow-up fa-lg"></i></a>
                            &nbsp;
                            &nbsp;
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <script>
    // Récupération des dates de début et de fin
    var dateDebConfigEns = new Date('{{ parametre.dateDebConfigEns }}');
    var dateFinConfigEns = new Date('{{ parametre.dateFinConfigEns }}');

    // Fonction pour vérifier si la date actuelle est entre les dates de début et de fin
    function checkDate() {
        var currentDate = new Date();
        if (currentDate >= dateDebConfigEns && currentDate <= dateFinConfigEns) {
        ajt_domaine.disabled = false;  
    } else {
        ajt_domaine.disabled = true;
        console.log("la periode de configuraton est dépassée");
        };
    }

    
    // Vérifier la date lors du chargement de la page
    checkDate();

    // Vérifier la date toutes les secondes (pour les mises à jour en temps réel)
    setInterval(checkDate, 1000);
</script> -->