<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Dépot de mon mémoire</h6>

        </div>
        <div style="text-align: right;">
            <form action="rechercheFormation/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'id" class="bg-dark2 border-0 p-2" name="idr" style="color: white;">
                <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i class="fa fa-search text-primary"></i></button>
            </form>
        </div>
        <br>
        
        <input type="file" id="fileInput" accept=".pdf">
        <button id="btnMemoire">Importer PDF</button>

        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Mémoire</th>
                        <th scope="col">Evaluation</th>
                        <th scope="col">Remarque</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <!-- <tbody>
                    {%for i in listeFormation%}
                    <tr>
                        <td scope="col"><input class="form-check-input" type="checkbox"></td>
                        <td>{{i.id}}</td>
                        <td>{{i.intitule}}</td>
                        <td>{{i.duree}}</td>
                        <td>{{i.cout}}</td>
                        <td>
                            <a href="suprimerFormation/{{i.id}}"><i class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifier/{{i.id}}"><i class="fa fa-edit text-primary"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody> -->
            </table>
        </div>



    </div>
</div>