<!-- Modal -->
<div class="modal fade" id="ModaleEnseignantOccupation" tabindex="-1" aria-labelledby="ModaleEnseignantOccupationLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary text-center rounded_modal p-4">
            <form action="ajoutOccupationEnseignant/" method="post">
                {%csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="ModaleEnseignantOccupationLabel">Fiche occupation Salle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Date</label>
                        <input type="date" class="form-control" name="date">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Heure début</label>
                        <input type="time" class="form-control" name="heure_deb">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Heure fin</label>
                        <input type="time" class="form-control" name="heure_fin">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button_fermer_modal btnPrimary2" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn button_ajout_modal btnPrimary2">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Occupations Enseignant</h6>

            <button type="button" class="button2 btnPrimary2" data-bs-toggle="modal"
                data-bs-target="#ModaleEnseignantOccupation">
                Ajouter
            </button>
        </div>

        <div style="text-align: left; margin-left : 29px; margin-bottom : 20px;">
            <form action="rechercheUtilisateur/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'email" class="border-1 p-2 research_bar_in_table"
                    name="emailr">
                <!-- <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button> -->
            </form>
        </div>
        <br>
        <div class="table_body">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Heure début</th>
                        <th scope="col">Heure fin</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if search_results %}
                    {% for i in search_results %}
                    <tr>
                        <td>{{i.ide}}</td>
                        <td>{{i.date_occupation}}</td>
                        <td>{{i.heure_debut}}</td>
                        <td>{{i.heure_fin}}</td>
                        <td>
                            <a href="suprimerOccupationEnseignant/{{ i.ide }}"><i
                                    class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifierOccupationEnseignant/{{ i.ide }}"><i
                                    class="fa fa-edit text-primary"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for i in listeOccupationEnseignant%}
                    <tr>
                        <td>{{i.ide}}</td>
                        <td>{{i.date_occupation}}</td>
                        <td>{{i.heure_debut}}</td>
                        <td>{{i.heure_fin}}</td>
                        <td>
                            <a href="suprimerOccupationEnseignant/{{ i.ide }}" onclick="return confirm('êtes-vous sure de vouloir supprimer cette occupation?')"><i
                                    class="fa fa-trash text-primary"></i></a>
                            &nbsp;
                            &nbsp;
                            <a href="modifierOccupationEnseignant/{{ i.ide }}"><i
                                    class="fa fa-edit text-primary"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>