<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary5 text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
        </div>
        <div style="text-align: left; margin-left : 29px; margin-bottom : 0px;">
            <form action="rechercheUtilisateur/" method="post">
                {%csrf_token%}
                <input type="text" placeholder="Recherche selon l'Id" class="border-1 p-2 research_bar_in_table"
                    name="emailr">
                <!-- <button type="submit" class="bg-dark2 border-0 p-2 la-loupe"><i
                        class="fa fa-search text-primary"></i></button> -->
            </form>
        </div>
        <br>
        <div class="table_body" style ="margin-top: 0px;">
            <table class="table2">
                <thead>
                    <tr class="text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Leader</th>
                        <th scope="col">Binôme</th>
                        <th scope="col">Thème</th>
                        <th scope="col">Réponse</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for d in listeDemande%}
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.idLeader.email.nom}} {{d.idLeader.email.prenom}}</td>
                        <td>{{d.idLeader.nom_binom}} {{d.idLeader.prenom_binom}}</td>
                        <td>{{d.idTheme.intitule}}</td>
                        <td>{{d.reponse}}</td>
                        <td>
                            <a href="accepter/{{d.id}}"><i  id="ajt_rep" class="fa fa-check text-primary"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </div>
</div>



<script>
    // Récupération des dates de début et de fin
    var dateDebRep = new Date('{{ parametre.dateDebRep }}');
    var dateFinRep = new Date('{{ parametre.dateFinRep }}');

    // Fonction pour vérifier si la date actuelle est entre les dates de début et de fin
    function checkDate() {
        var currentDate = new Date();
        if (currentDate >= dateDebRep && currentDate <= dateFinRep) {
            ajt_rep.disabled = false;  
    } else {
        ajt_rep.disabled = true;
        console.log("la periode de configuration est dépassée");
        };
    }

    
    // Vérifier la date lors du chargement de la page
    checkDate();

    // Vérifier la date toutes les secondes (pour les mises à jour en temps réel)
    setInterval(checkDate, 1000);
</script>